# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv
env/
venv/
ENV/
sql_app.db
data/

# Node
node_modules/
dist/
dist-ssr
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
